.navbar-lewagon {
  z-index:1;
  display: flex;
  justify-content: space-between;
  background: rgba(53, 52, 52, 0.5);
  position: fixed;
  width: 100%;
  top:0;
  img{
    position: relative;
    margin: 10px 20px;
    height: 50Ppx;
    width: 60px;
  }
  .links{
    display: flex;
  }
  a{
    float: right;
    text-decoration: none;
    margin: 20px 20px;
    color: rgb(194, 192, 192);
  }
}
